body{
    background-color: #fffee3;
    background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

input{
    display: none;
}

h1{
    font-size: 3rem;
}

button{
    width: 70px;
    height: 25px;
    font-size: 0.8rem;
    border: none;
    background-color: rgb(213, 254, 255);
}

button:active{
    background-color: rgb(0, 183, 255);
}

.fullQuestion{
    margin-bottom: 40px;
}

#done{
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    background-color: rgb(0, 183, 255);
    margin-left: 30px;
}

#done:hover{
    background-color: rgb(147, 179, 182);
}

#chR, #anxR, #stR, #deR, #angR, #subhead{
    display: none;
}

#subhead{
    margin-top: 60px;
    text-decoration: underline;
}

.description{
    width: 40%;
    margin: 0 auto 40px auto;
    padding: 10px;
    font-size: 1.1rem;
    border: 2px solid rgb(92, 92, 92);
}